{% extends 'base.html' %}



{% block content %}
{%load static%}
<style>


</style>
<body>

<h1 class="mt-5 text-center">• إصابات العمود الفقري •</h1><br>
<center><img src="{%static 'back.png'%}" alt="knee Photo"></center>
<div class="container" dir="rtl">


  <div class="row mt-5">
    <h2>• إصابات العمود الفقري</h2>
    <div class="fs-5">

      <p>ألم الركبة يعتبر شكوى شائعة ويصيب الأشخاص من جميع الأعمار. قد يكون ألم الركبة نتيجة إصابة، مثل تمزق الأربطة أو تمزق الغضاريف. وقد ينجم أيضًا عن بعض الحالات الطبية، بما في ذلك التهاب المفاصل والنقرس والالتهابات. تستجيب أنواع كثيرة من آلام الركبة البسيطة لإجراءات الرعاية الذاتية بشكل جيد. ويمكن أن يساعد العلاج الطبيعي ودعامات الركبة أيضًا في التخفيف من الألم.

قد تختلف موقع وحدة ألم الركبة بناءً على سبب المشكلة. العلامات والأعراض التي تصاحب أحيانًا ألم الركبة تشمل:

<ul>
      <li>التورم والتصلب</li>
      <li> الاحمرار والدفء عند اللمس</li>
      <li>الضعف أو عدم الاتزان</li>
      <li>أصوات فرقعة أو طرقعة      </li>
      <li>عدم القدرة على فرد الركبة تمامًا</li>
    </ul>
يجب الاتصال بالطبيب في الحالات التالية:
<ul>
      <li>عدم القدرة على تحمل الوزن على ركبتك أو الشعور كما لو كانت الركبة غير ثابتة أو متصلبة</li>
      <li> وجود تورم ملحوظ في الركبة</li>
      <li>عدم القدرة على مد الركبة أو ثنيها بشكل كامل</li>
      <li>ملاحظة تشوه واضح في الساق أو الركبة      </li>
      <li>عدم القدرة على فرد الركبة تمامًا</li>
      <li>الإصابة بالحمى، فضلاً عن ملاحظة احمرار في الركبة أو الشعور بألم أو تورم فيها
وجود ألم شديد في الركبة مرتبط بإصابة</li>
    </ul>

إصابات الركبة تشمل العديد من الحالات، مثل:
<ul>
      <li>إصابة الرباط التصالُبي الأمامي (ACL)</li>
      <li> تمزق الغضروف الهلالي</li>
      <li>الكسور</li>
      <li>التهاب جراب الركبة </li>
      <li>التهاب الوتر الرضفي</li>
      <li>المشكلات الميكانيكية.</li>
    </ul>
في حالة الألم الشديد أو الاستمرار، يُفضل استشارة الطبيب لتحديد التشخيص الدقيق والعلاج المناسب.</p>
    </div>

  </div>
</div>
{% endblock %}
</body>
