{% extends 'base.html' %}



{% block content %}
{%load static%}
<style>


</style>
<body>

<h1 class="mt-5 text-center">• إصابات الركبة و المفاصل •</h1><br>
<center><img src="{%static 'kneeWDR.png'%}" alt="knee Photo"></center>
<div class="container" dir="rtl">


  <div class="row mt-5">
    <h2>• إصابات الركبة</h2>
    <div class="fs-5">

إصابات العمود الفقري تتنوع وقد تكون نتيجة لحوادث مختلفة. هذه بعض المعلومات حولها:

<br>الأعراض:

<ul>
      <li>آلام شديدة في الظهر أو الرقبة.</li>
      <li> ضعف أو عدم تناسق أو شلل في أي جزء من الجسم.</li>
      <li>خدر، وخز، أو فقدان الإحساس في اليدين، الأصابع، القدمين، أو أصابع القدم.</li>
      <li>فقدان السيطرة على المثانة أو الأمعاء.</li>
      <li>صعوبة في التوازن والمشي.</li>
      <li>ضعف التنفس بعد الإصابة.</li>
    </ul>
التشخيص والعلاج:
<ul>
      <li>يُستخدم التصوير بالرنين المغناطيسي لتقييم إصابة النسيج الرخو أو الحبل الشوكي أو الأربطة.</li>
      <li> التصوير المقطعي المحوسب يُستخدم لتقييم إصابة العظام.</li>
      <li>المعالجة تشمل تثبيت العمود الفقري، وإعطاء أدوية لتخفيف الأعراض، وفي بعض الحالات الجراحة، وإعادة التأهيل.</li>
    </ul>

التركيبة العامة للعمود الفقري:

<ul>
      <li>يتكون العمود الفقري من 24 فقرة ظهر بالإضافة إلى عظم العصعص.</li>
      <li> الأقراص الغضروفية بين الفقرات تساعد في توسيد وحماية العظام.</li>
      <li>الحبل الشوكي هو بنية طويلة هشة أنبوبية الشكل تمتد من الجذع الدماغي حتى الجزء السفلي من العمود الفقري.</li>
    </ul>
في حالة الاشتباه بإصابة في العمود الفقري، يجب الحفاظ على استقرار الشخص وتجنب تحريك الرأس أو الرقبة. يُفضل طلب المساعدة الطبية الطارئة.

    </div>

  </div>
</div>
{% endblock %}
</body>
