{%extends 'base.html'%}
{% block content %}
<style>
    body {
        font-family: Arial, sans-serif;
    }
    .container {
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
        padding: 20px;
        box-sizing: border-box;
    }
    .form-group {
        margin-bottom: 15px;
    }
    .form-group label {
        display: block;
        margin-bottom: 5px;
    }
    .form-group input {
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
    }
    .btn {
        display: inline-block;
        padding: 10px 20px;
        background-color: #7f8388;
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
    }
    .btn:hover {
        background-color: #c3c3d3;
    }
</style>
    <div class="container">
        <h1>Welcome to MS Clinic</h1>
        <h4>Login Here!</h4><hr><br><br>
    <form method="POST" autocomplete="off">
        {% csrf_token %}
        <form>
            <div class="mb-3">
              <input type="text" class="form-control" name="username" placeholder="Username" autocomplete="false">
            </div><br>
            <div class="mb-3">
              <input type="password" class="form-control" name="password" placeholder="Password" autocomplete="false" id="pw">
            </div><br><br>

        <button type="submit" class="btn btn-secondary">Login</button>
    </form><br><br>
    <p>
        Don't have an account?,
        <a href="{% url 'register' %}">register here</a>
    </p>
    
    {% if messages %}
    <div >
        <ul>
            {% for message in messages %}
                <li style="color: red;">{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
     {% endif %}   
    </div>
</form>
{% endblock %}