{% extends 'base.html' %}



{% block content %}
{%load static%}
<style>
img{
  max-width: 100%;
    height: auto;
    margin: 0 auto; /* Center the image horizontally */
}

</style>
<body>

<h1 class="mt-5 text-center">• إصابات الملاعب •</h1><br>
<center><img src="{%static 'BIWDR.png'%}" alt="knee Photo"></center>
<div class="container" dir="rtl">


  <div class="row mt-5">
    <h2>• إصابات الملاعب</h2>
    <div class="fs-5">

إصابات الملاعب تشكل تحديًا كبيرًا للرياضيين، سواء كانوا هواة أو محترفين. يمكن أن تؤثر هذه الإصابات على أدائهم وتقيدهم عن ممارسة النشاط البدني. دعونا نلقي نظرة على أنواع إصابات الملاعب الأكثر شيوعًا وكيفية الوقاية منها وعلاجها:


<ul>
      <li>
إصابة وتر العرقوب: تحدث نتيجة التهاب أو تواء وتضرر الوتر الذي يربط عضلة الربلة بالكعب في الجزء الخلفي السفلي من القدم. تكون شائعة في الأنشطة الرياضية مثل الجري والقفز.</li>
      <li> كسور العظام: تحدث عندما يتعرض العظم لقوة زائدة تتجاوز مقدار القوة التي يمكن تحملها. تترافق مع أعراض فورية مثل الشعور بالألم الحاد والتورم.</li>
      <li>كسور الإجهاد: تحدث نتيجة تكرار الحركات الرياضية لفترة طويلة، وقد تسبب تشققات صغيرة في العظام تتطور مع الوقت لتحدث كسرًا في العظم.</li>
      <li>التهاب الوتر الرضفي: يحدث في منطقة الرضفة في الركبة نتيجة للأنشطة المكررة مثل كرة السلة والكرة الطائرة.</li>
      <li>الالتواء: يحدث نتيجة الاستخدام المفرط للجزء الهيكلي من الجسم أو استخدام قوة أكبر من الطاقة التي يتحملها الجسم أثناء التمارين.</li>
      <li>تجنب الإصابات باتباع تقنيات الوقاية المناسبة والاحترازات أثناء ممارسة الرياضة. إذا كنت بحاجة إلى استشارة طبية، يُفضل التحدث مع طبيب مختص.</li>
    </ul>
    </div>

  </div>
</div>
{% endblock %}
</body>
